.snapLine {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #00000000;
  border-left: 2px dashed #ffffff1a;
  pointer-events: none;
  z-index: 1000;
  transition: all 0.15s;
}

.snapLineActive {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #00000000;
  border-left: 2px dashed #ffffff80;
  pointer-events: none;
  z-index: 1001;
}

.snapPreview {
  position: absolute;
  top: 0;
  bottom: 0;
  background: #ffffff1a;
  pointer-events: none;
  z-index: 999;
}
